backend/node_modules
backend/.env
frontend/node_modules
frontend/.env
backend/app/api/__pycache__
frontend/src/__pycache__
.DS_Store
.vscode/
.env.local
backend/app/api/routes/__pycache__
frontend/src/components/__pycache__
frontend/src/utils/__pycache__
backend/app/core/__pycache__
backend/app/models/__pycache__
backend/app/schemas/__pycache__
backend/app/services/__pycache__
backend/app/db/__pycache__
backend/app/main/__pycache__
.claude
**/__pycache__/
